<html>
<head>
    <title>Assignee form output</title>
    <meta name="decorator" content="atl.admin">
</head>
<body>
<h1>Issues added: </h1>
<table class="aui">
    <thead>
    <tr>
        <th id="number">#</th>
        <th id="assignee">Assignee</th>
    </tr>
    </thead>
    <tbody>
        #foreach( $assignee in $assigneeOutput )
            <tr>
                <td headers="number">$velocityCount</td>
                <td headers="type">$assignee</td>
            </tr>
        #end
    </tbody>
</table>
</body>
</html>